<h2>Data Entry</h2>

<iy-sandbox id="data-entry-button">
  <h3 slot="title">Buttons</h3>
</iy-sandbox>
<iy-sandbox id="data-entry-input">
  <h3 slot="title">Input</h3>
  <iy-sandbox-figure slot="element" data-title="Simple Text Input">
    <label for="data-entry-input__text">Name</label><input id="data-entry-input__text" type="text">
  </iy-sandbox-figure>
  <iy-sandbox-figure slot="element" data-title="Checkbox Input">
    <input id="data-entry-input__checkbox" type="checkbox"><label for="data-entry-input__checkbox">Blue</label>
  </iy-sandbox-figure>
</iy-sandbox>
<template id="sandbox-icon">
  <svg
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
  >
    <polygon
        points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
    ></polygon>
  </svg>
</template>
<link rel="stylesheet" href="../../core/data-entry.css">
<script src="/sandbox/sandbox/sandbox.js" type="module"></script>
<script src="/sandbox/sandbox/sandbox-figure.js" type="module"></script>
<script type="module">
  import "../../core/highlight/highlight.js";

  const label = "Click Me!";
  const template = this.querySelector("template#sandbox-icon");
  const sandbox = this.querySelector(`#data-entry-button`);

  [
    { label },
    { label, icon: 1 },
    { label, icon: 2 },
    { label: null, icon: 1 }
  ].forEach(
    ({ label, icon = 0 }) => {
      [
        [],
        ["--pill"],
        ["--secondary"],
        ["--secondary", "--pill"],
        ["--tertiary"],
        ["--tertiary", "--pill"],
        ["--text"],
        ["--text", "--pill"],
        // ["--medium"],
        // ["--pill", "--medium"],
        // ["--secondary", "--medium"],
        // ["--secondary", "--pill", "--medium"],
        // ["--tertiary", "--medium"],
        // ["--tertiary", "--pill", "--medium"],
        // ["--text", "--medium"],
        // ["--text", "--pill", "--medium"],
        // ["--large"],
        // ["--pill", "--large"],
        // ["--secondary", "--large"],
        // ["--secondary", "--pill", "--large"],
        // ["--tertiary", "--large"],
        // ["--tertiary", "--pill", "--large"],
        // ["--text", "--large"],
        // ["--text", "--pill", "--large"],
        // ["--huge"],
        // ["--pill", "--huge"],
        // ["--secondary", "--huge"],
        // ["--secondary", "--pill", "--huge"],
        // ["--tertiary", "--huge"],
        // ["--tertiary", "--pill", "--huge"],
        // ["--text", "--huge"],
        // ["--text", "--pill", "--huge"]
      ].forEach((classList) => {
        const figure = document.createElement("iy-sandbox-figure");
        // const caption = document.createElement("figcaption");
        const button = document.createElement("button");
        // const highlight = document.createElement("iy-highlight");
        let svg;

        if (icon === 0) {
          button.textContent = label;
        } else if (icon === 1 || icon === 2) {
          svg = template.cloneNode(true).content.firstElementChild;
          if (icon === 1) {
            button.appendChild(svg);
          }
          if (label) {
            const span = document.createElement("span");
            span.textContent = label;
            button.appendChild(span);
          }
          if (icon === 2) {
            button.appendChild(svg);
          }
        }
        if (classList.length > 0) button.classList.add(...classList);
        button.tabIndex = -1;

        figure.dataset.title = `${
          classList.includes("--medium") ? "Medium " :
            classList.includes("--large") ? "Large " :
              classList.includes("--huge") ? "Huge " :
                ""
        }${
          classList.includes("--secondary") ? "Secondary " :
            classList.includes("--tertiary") ? "Tertiary " :
              classList.includes("--text") ? "Text " :
                ""
        }${
          classList.includes("--pill") ? "Pill " : ""
        }Button ${icon > 0 ? "with icon" : ""}`;

        // let html = button.outerHTML.replace(label, "Label");
        //
        // if (svg) {
        //   html = html.replace(svg.outerHTML, "<icon>");
        // }

        // highlight.dataset.language = "xml";

        // const slot = window.document.createElement("code");
        // slot.slot = "code";
        // slot.textContent = html.trim();

        // highlight.appendChild(slot);

        figure.dataset.withStates = "true";

        figure.slot = "element";

        figure.appendChild(button);

        // figure.appendChild(highlight);

        sandbox.appendChild(figure);
      });
    }
  );

  if (window.location.hash) {
    const hashElement = window.document.querySelector(window.location.hash);
    window.setTimeout(
      () => window.document.body.scrollTo(hashElement.offsetLeft, hashElement.offsetTop),
      500
    );
  }

</script>
