<h2>Highlight</h2>

<section>
  <h3>JavaScript</h3>
  <div class="sandbox">
    <figure>
      <iy-highlight data-language="javascript">
<code slot="code">const add = (x, y) => x + y;
const sum = (xs) => xs.reduce(add, 0);

const t = sum([42, 24, 12]);

// t === 78</code>
      </iy-highlight>
    </figure>
    <figure>
      <iy-highlight data-language="javascript">
<code slot="code">fetch("/demo.html")
  .then((response) => response.json())
  .then((html) => {
    e.innerHTML = html;
});</code>
      </iy-highlight>
    </figure>
  </div>
</section>
<section>
  <h3>HTML</h3>
  <div class="sandbox">
    <figure>
      <iy-highlight data-language="xml"><code slot="code">&lt;!doctype html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
  &lt;meta charset="UTF-8"&gt;
  &lt;meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"&gt;
  &lt;meta http-equiv="X-UA-Compatible" content="ie=edge"&gt;
&lt;title&gt;Sandbox&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;&lt;/body&gt;
&lt;/html&gt;</code></iy-highlight>
    </figure>
  </div>
</section>
<link rel="stylesheet" href="/core/global.css">
<script src="/core/highlight/highlight.js" type="module"></script>

