<iy-sandbox data-layout="lines">
  <h3 slot="title">Heading</h3>
  <div slot="elements">
    <iy-sandbox-figure data-title="H1">
      <h1>Bluebird</h1>
    </iy-sandbox-figure>
    <iy-sandbox-figure data-title="H2">
      <h2>Cardinal</h2>
    </iy-sandbox-figure>
    <iy-sandbox-figure data-title="H3">
      <h3>Dove</h3>
    </iy-sandbox-figure>
    <iy-sandbox-figure data-title="H4">
      <h4>Eagle</h4>
    </iy-sandbox-figure>
    <iy-sandbox-figure data-title="H5">
      <h5>Finch</h5>
    </iy-sandbox-figure>
    <iy-sandbox-figure data-title="H6">
      <h6>Goldfinch</h6>
    </iy-sandbox-figure>
  </div>
</iy-sandbox>
<iy-sandbox data-layout="lines">
  <h3 slot="title">Text</h3>
  <div slot="elements">
    <iy-sandbox-figure data-title="P">
      <p>
        In a certain flower garden, each flower was either red, yellow or blue, and all three colors were represented.
        A statistician once visited the garden and made the observation that whatever three flowers you picked, at
        least one of them was bound to be red. A second statistician visited the garden and made the observation that
        whatever three flowers you picked, at least one was bound to be yellow [...]
      </p>
    </iy-sandbox-figure>
  </div>
</iy-sandbox>
<script src="/sandbox/sandbox/sandbox.js" type="module"></script>
<script src="/sandbox/sandbox/sandbox-figure.js" type="module"></script>
