button {
  align-items: center;
  border: none;
  border-radius: 0.625rem;
  box-sizing: border-box;
  background-color: var(--color-primary-default);
  color: var(--color-background);
  display: flex;
  font-family: inherit;
  font-size: 0.8125rem;
  font-weight: 500;
  height: 2.5rem;
  justify-content: center;
  letter-spacing: 0.025rem;
  padding: 0 1rem;
  outline: none;
  white-space: nowrap;
}

button svg, button img {
  height: 1rem;
  pointer-events: none;
  width: 1rem;
}

button svg {
  fill: none;
  stroke: var(--color-background);
}

button > svg:first-child ~ *,
button > img:first-child ~ * {
  margin-left: 0.75rem;
}

button > *:first-child ~ svg,
button > *:first-child ~ img {
  margin-left: 0.75rem;
}

button:active {
  color: var(--color-low-contrast);
  background-color: var(--color-high-contrast) !important;
}

button:active svg {
  stroke: var(--color-low-contrast);
}

button:hover,
button.--active,
button[data-active] {
  background-color: var(--teal-600);
}

button:focus {
  box-shadow: 0 0 0 8px var(--color-primary-light);
}

button[disabled] {
  opacity: 0.5;
}

button.--medium {
  border-radius: 12px;
  font-size: 0.9375rem;
  height: 3.5rem;
  padding: 0 1.5rem;
}

button.--large {
  border-radius: 12px;
  font-size: 0.9375rem;
  height: 4rem;
  padding: 0 2rem;
}

button.--huge {
  border-radius: 16px;
  font-size: 1.125rem;
  height: 4.5rem;
  padding: 0 2rem;
}

button.--medium svg,
button.--medium img,
button.--large svg,
button.--large img,
button.--huge svg,
button.--huge img {
  height: 1.5rem;
  width: 1.5rem;
}

button.--large > svg:first-child ~ *,
button.--large > img:first-child ~ *,
button.--huge > svg:first-child ~ *,
button.--huge > img:first-child ~ * {
  margin-left: 1rem;
}

button.--large > *:first-child ~ svg,
button.--large > *:first-child ~ img,
button.--huge > *:first-child ~ svg,
button.--huge > *:first-child ~ img {
  margin-left: 1rem;
}

button.--pill {
  border-radius: 20px;
}

button.--pill.--medium {
  border-radius: 28px;
}

button.--pill.--large {
  border-radius: 32px;
}

button.--pill.--huge {
  border-radius: 36px;
}

button.--secondary {
  background-color: var(--monochrome-400);
  color: var(--color-body-text);
}

button.--secondary svg {
  stroke: var(--color-body-text);
}

button.--secondary:active {
  background-color: var(--color-high-contrast) !important;
  color: var(--color-low-contrast) !important;
}

button.--secondary:active svg {
  stroke: var(--color-high-contrast) !important;
}

button.--secondary:hover {
  background-color: var(--monochrome-500);
}

button.--tertiary {
  background-color: transparent;
  border: 1px solid var(--color-separator);
  color: var(--color-body-text);
}

button.--tertiary svg {
  stroke: var(--color-body-text);
}

button.--tertiary:active {
  background-color: transparent !important;
  border: 1px solid var(--color-high-contrast) !important;
  color: var(--color-high-contrast) !important;
}

button.--tertiary:active svg {
  stroke: var(--color-high-contrast) !important;
}

button.--tertiary:hover {
  background-color: transparent;
  border: 1px solid var(--color-primary-dark) !important;
  color: var(--color-primary-dark) !important;
}

button.--tertiary:hover svg {
  stroke: var(--color-high-contrast);
}

button.--text {
  background-color: transparent;
  border: none;
  color: var(--color-body-text);
}

button.--text svg {
  stroke: var(--color-body-text);
}

button.--text:active {
  background-color: transparent !important;
  border: none;
  color: var(--color-high-contrast) !important;
}

button.--text:active svg {
  stroke: var(--color-high-contrast) !important;
}

button.--text:hover {
  background-color: transparent;
  border: none;
  color: var(--color-primary-dark);
}

button.--text:hover svg {
  stroke: var(--color-primary-dark);
}

label:empty {
  color: var(--color-label);
  font-size: 0.75rem;
}

input[disabled] {
  opacity: 0.5;
}

input[type="text"] {
  background-color: var(--color-input);
  border: 2px solid transparent;
  border-radius: 12px;
  box-sizing: border-box;
  color: var(--color-label);
  font-size: 0.75rem;
  height: 2.5rem;
  padding: 0 1rem;
  outline: none;
}

input[type="text"]:focus {
  background-color: red;
  border-color: var(--color-label);
}

input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

input[type="checkbox"] + label {
  display: inline-block;
  line-height: 24px;
}

input[type="checkbox"] + label:before {
  border: 1px solid var(--color-label);
  border-radius: 8px;
  content: "";
  display: inline-block;
  margin-right: 8px;
  height: 24px;
  width: 24px;
}

input[type="checkbox"]:checked + label:before {
  background-color: var(--color-input);
  border-color: transparent;
  content: url("./assets/check.svg");
}

@media (prefers-color-scheme: dark) {
  button:hover,
  button.--active,
  button[data-active] {
    background-color: var(--color-primary-light);
  }

  button:focus {
    box-shadow: 0 0 0 8px var(--color-input);
  }

  button.--secondary {
    background-color: var(--monochrome-700);
  }

  button.--secondary:hover,
  button.--secondary.--active,
  button.--secondary[data-active] {
    background-color: var(--monochrome-600);
  }

  button.--tertiary:active {
    border: 1px solid var(--color-high-contrast) !important;
    color: var(--color-high-contrast) !important;
  }

  button.--tertiary:hover {
    border: 1px solid var(--color-primary-light) !important;
    color: var(--color-primary-light) !important;
  }

  button.--secondary:active svg,
  button.--tertiary:active svg,
  button.--text:active svg {
    stroke: var(--color-high-contrast) !important;
  }

  button.--text:hover {
    color: var(--color-primary-light);
  }

  button.--tertiary:hover svg {
    stroke: var(--color-primary-light);
  }

  button.--text:hover svg {
    stroke: var(--color-primary-light);
  }
}
