:host {
  background-color: #080811;
  box-sizing: border-box;
  color: #FCFCFC;
  border-radius: 12px;
  display: block;
  font-family: "Fira Code", monospace;
  font-size: inherit;
  line-height: 1.5em;
  padding: 8px;
}

:host pre,
:host pre code {
  margin: 0;
  padding: 0;
}

:host pre {
  box-sizing: border-box;
  padding: 16px;
  overflow: auto;
}

:host pre::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  margin: 3px;
}

:host pre::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-thumb);
  border-radius: 10px;
  opacity: 0.5;
}

:host(:hover) pre::-webkit-scrollbar-thumb {
  opacity: 1;
}

